{% extends "should-know.html" %}
{% load staticfiles %}

{% block page-heading-should-know %}
                    <h2>Text Editor</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/should-know/">Should know</a>
                        </li>
                        <li class="active">
                            <strong>{{ person.name }}</strong>
                        </li>
                    </ol>
{% endblock %}

{% block should-know-content %}
    <div class="row">
                <div class="col-md-12">
                    <div class="ibox ">
                        <div class="ibox-content">
                            <div class="tab-content">
                                <div id="contact-1" class="tab-pane active">
                                    <div class="row m-b-lg">
                                        <div class="col-lg-4 text-center">
                                            <h2>{{ person.name }}</h2>

                                            <div class="m-b-sm">
                                                <img alt="image" class="img-circle" src="{% static 'img/a4.jpg' %}"
                                                     style="width: 62px">
                                            </div>
                                        </div>
                                        <div class="col-lg-8" style="text-align: center">
                                            <strong>
                                                About {{ person.name }}
                                            </strong>

                                            <p>
                                                {{ person.description }}
                                            </p>
                                            <div class="client-detail" style="height: auto; text-align: center ">
                                                {% if person.contact.email %}<span><span class="label label-warning">Email:</span> <b>{{ person.contact.email }}</b></span>{% endif %}
                                                {% if person.contact.skype %}<span><span class="label label-warning">Skype:</span> <b>{{ person.contact.skype }}</b></span>{% endif %}
                                                {% if person.contact.twitter %}<span><span class="label label-warning">Twitter:</span> <b> {{ person.contact.twitter }}</b></span>{% endif %}
                                                {% if person.contact.facebook %}<span><span class="label label-warning">Facebook:</span> <b> {{ person.contact.facebook }}</b></span>>{% endif %}
                                                {% if person.contact.vk %}<span><span class="label label-warning">VK:</span> <b> {{ person.contact.vk }}</b></span>{% endif %}
                                                {% if person.contact.tel %}<span><span class="label label-warning">Tel.:</span> <b> {{ person.contact.tel }}</b></span>{% endif %}
                                            </div>
                                        <br>
                                            <button type="button" class="btn btn-primary btn-sm btn-block">
{#                                                <i class="fa fa-envelope"></i> #}
                                                Add to working contacts
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-block btn-success btn-outline" href="/should-know/">Return</a>
                </div>
        </div>
    <br>
{% endblock %}