<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>{% block title %}Junior Developer | {% endblock %}</title>

    {% include "head_css.html" %}

</head>

<body>

<div id="wrapper">

    {% include "navbar-side.html" %}

    <div id="page-wrapper" class="gray-bg">

        {% include "navbar-top.html" %}

        {% block content %}{% endblock %}

        {% include "footer.html" %}

    </div>
</div>

{% include "javascript.html" %}

</body>

</html>
