{% load staticfiles %}
<!-- General JavaScript -->
    <!-- jquery.js -->
{#    <script src="{% static 'js/jquery.min1.js' %}" type="text/javascript"></script>#}

    <!-- bootstrap.js -->
{#    <script src="{% static 'js/bootstrap.min1.js' %}" type="text/javascript"></script>#}

    <!-- Our main app1.js -->
{#    <script src="{% static 'js/app1.js' %}" type="text/javascript"></script>#}

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/chart.js' %}"></script>
    <script src="{% static 'js/toolkit.js' %}"></script>
    <script src="{% static 'js/application.js' %}"></script>