<nav class="ck pd ot app-navbar">
  <div class="by">
    <div class="os">
      <button type="button" class="ov collapsed" data-toggle="collapse" data-target="#navbar-collapse-main">
        <span class="cv">Toggle navigation</span>
        <span class="ow"></span>
        <span class="ow"></span>
        <span class="ow"></span>
      </button>
      <a class="e" href="/application/">
{#        <img src="/application/assets/img/brand-white.png" alt="brand">#}
      Junior Developer
      </a>
    </div>
    <div class="f collapse" id="navbar-collapse-main">

        <ul class="nav navbar-nav st">
          <li class="active">
            <a href="/application/">Home</a>
          </li>
          <li>
            <a href="/application/profile/">Profile</a>
          </li>
          <li>
            <a data-toggle="modal" href="#msgModal">Messages</a>
          </li>
          <li>
            <a href="/application/docs/">Docs</a>
          </li>
        </ul>

        <ul class="nav navbar-nav oh ald st">
          <li >
            <a class="g" href="/application/notifications/">
              <span class="fa fa-bell-o"></span>
            </a>
          </li>
          <li>
              <a>Avatar</a>
{#            <button class="cg fm oy ank" data-toggle="popover">#}
{#              <img class="cu" src="/application/assets/img/avatar-dhg.png">#}
{#                Avatar#}
{#            </button>#}
          </li>
        </ul>

        <form class="ox oh i" role="search">
          <div class="et">
            <input type="text" class="form-control" data-action="grow" placeholder="Search">
          </div>
        </form>

        <ul class="nav navbar-nav su sv sw">
          <li><a href="/application/">Home</a></li>
          <li><a href="/application/profile/">Profile</a></li>
          <li><a href="/application/notifications/">Notifications</a></li>
          <li><a data-toggle="modal" href="#msgModal">Messages</a></li>
          <li><a href="/application/docs/">Docs</a></li>
          <li><a href="#" data-action="growl">Growl</a></li>
          <li><a href="/application/login/">Logout</a></li>
        </ul>

        <ul class="nav navbar-nav hidden">
          <li><a href="#" data-action="growl">Growl</a></li>
          <li><a href="/application/login/">Logout</a></li>
        </ul>
      </div>
  </div>
</nav>