{% extends "success-story.html" %}

{% block page-heading-story %}
                    <h1>Success Stories</h1>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li class="active">
                            <strong>Story list</strong>
                        </li>
                    </ol>
{% endblock %}

{% block story-content %}
                <div class="row">
                    <div class="col-lg-10" style="margin-top:8px">
{#                            <h1>Success stories</h1>#}
{#                    </div>#}
{#                    <div class="col-lg-4">#}
                        Step-by-step to find out how to became a successful person
                    </div>
                    <div class="col-lg-2">
                        <a class="btn btn-outline btn-success btn-block" href="/success-story/new/">Write my own story</a>
                    </div>
                </div>
                    <!-- TODO: sort by Rate, created, last changed; filter by skill -->
                <div class="row">
                    {% for story in stories %}
                        {% include "story.html" %}
                    {% endfor %}
                </div>

{% endblock %}
