{% extends "success_story1.html" %}

{% block story_content %}
            <h1>{{ story.title }}</h1> by <em>{{ story.author }}</em>
            <br>
            <small><button type="button" class="cg fx ub fr">{{ story.used_to }}</button></small>
            <i class="fa fa-fighter-jet"></i>
            <button type="button" class="cg fx ub fr">{{ story.became }}</button>
            <br/>
            <small>Advice: <em>{{ story.advice }}</em></small>
            <br/>
            <small>Skills:
            {% for skill in story.stack_skills.all %}
                <button type="button" class="cg fx tu">{{ skill }}</button>
            {% endfor %}
            </small>
            <br/>
            <small>Story rate: {{ story.rate }}</small>
            <hr>
            {{ story.text }}
            <br>
        <!--TODO contact form, vote-->
            <a class="cg ts" href="/success_story/">Return</a>
{% endblock %}