{% extends "success-story.html" %}

{% block page-heading-story %}
                    <h2>Text Editor</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li class="active">
                            <strong>Forms</strong>
                        </li>
                    </ol>
{% endblock %}

{% block story-content %}
    <h1>Success stories</h1>
    Step-by-step to find out how to became a successful person
    <hr/>
    <a class="btn btn-outline btn-success" href="/success_story/new/">Write my own story</a>
    <!-- TODO: sort by Rate, created, last changed; filter by skill -->
    <div class="row">
    {% for story in stories %}
        {% include "story.html" %}
    {% endfor %}
    </div>
{% endblock %}
