{% extends "success-story.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head-css-story %}
    <!-- include libraries(jQuery, bootstrap, fontawesome) -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    <!-- include summernote css-->
    <link href="{% static 'css/plugins/summernote/summernote.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/summernote/summernote-bs3.css' %}" rel="stylesheet">
    <!-- include chosen css-->
    <link href="{% static 'css/plugins/chosen/chosen.css' %}" rel="stylesheet">
    <!-- include chosen dropzone-->
    <link href="{% static 'css/plugins/dropzone/basic.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/dropzone/dropzone.css' %}" rel="stylesheet">


{% endblock %}

{% block javascript-story-editor %}
    <!-- SUMMERNOTE -->
    <script src="{% static 'js/plugins/summernote/summernote.min.js' %}"></script>
    <!-- include summernote-ru-RU -->
    <script src="{% static 'js/plugins/summernote/lang/summernote-ru-RU.js' %}"></script>
    <script>
        $(document).ready(function(){

            $('.summernote').summernote({
                lang: 'ru-RU',
                height: 300,                 // set editor height
                minHeight: null,             // set minimum height of editor
                maxHeight: null,             // set maximum height of editor
                focus: true                 // set focus to editable area after initializing summernote
            });

       });
        var edit = function() {
            $('.click2edit').summernote({focus: true});
        };
        var save = function() {
            var aHTML = $('.click2edit').code(); //save HTML If you need(aHTML: array).
            $('.click2edit').destroy();
        };
    </script>

    <!-- Chosen -->
    <script src="{%  static 'js/plugins/chosen/chosen.jquery.js' %}"></script>
    <script>
            var config = {
                '.chosen-select'           : {},
                '.chosen-select-deselect'  : {allow_single_deselect:true},
                '.chosen-select-no-single' : {disable_search_threshold:10},
                '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
                '.chosen-select-width'     : {width:"95%"}
                }
            for (var selector in config) {
                $(selector).chosen(config[selector]);
            }
    </script>

    <!-- DROPZONE -->
    <script src="{% static 'js/plugins/dropzone/dropzone.js' %}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function()
        {
            var myDropzone_av = new Dropzone("div#myId-av", { url: "file-upload-av"});
            var myDropzone_bg = new Dropzone("div#myId-bg", { url: "file-upload-bg"});
        });
    </script>
{#    <script>#}
{#        $(document).ready(function(){#}
{#            Dropzone.options.myAwesomeDropzone = {#}
{##}
{#                autoProcessQueue: false,#}
{#                uploadMultiple: false,#}
{#                parallelUploads: 1,#}
{#                maxFiles: 1,#}
{#                dictDefaultMessage: "Drop image here to upload - jpg, png",#}
{##}
{#                // Dropzone settings#}
{#                init: function() {#}
{#                    var myDropzone = this;#}
{##}
{#                    this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {#}
{#                        e.preventDefault();#}
{#                        e.stopPropagation();#}
{#                        myDropzone.processQueue();#}
{#                    });#}
{#                    this.on("sendingmultiple", function() {#}
{#                    });#}
{#                    this.on("successmultiple", function(files, response) {#}
{#                    });#}
{#                    this.on("errormultiple", function(files, response) {#}
{#                    });#}
{#                }#}
{##}
{#            }#}
{##}
{#       });#}
{#    </script>#}



{% endblock %}

{% block page-heading-story %}
                    <h2>Text Editor</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a>Forms</a>
                        </li>
                        <li class="active">
                            <strong>Text Editor</strong>
                        </li>
                    </ol>
{% endblock %}

{% block story-content %}
    <form method="POST" action="">{% csrf_token %}
    <div class="row">
        <div class="col-lg-7">
            <div class="ibox float-e-margins" align="center">
                <div class="ibox-content">
                    {#                    <input type="text" placeholder="Story title..." style='display:table-cell; width:100%'>#}
                    <input class="textinput textInput form-control" id="id_title" maxlength="100" name="title" type="text" placeholder="Story title..." >
                    {#                    {{ form|crispy }}#}
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="ibox float-e-margins" align="center">
                <div class="ibox-content">
                    {#                    <div style="float: left">by</div>#}
                    {#                    <input type="text" placeholder="Story title..." style='display:table-cell; width:100%'>#}
                    <input class="textinput textInput form-control" id="id_author" maxlength="100" name="author" type="text" placeholder="Story author..." >
                    {#                    {{ form|crispy }}#}
                </div>
            </div>
        </div>
    </div>
{#    <div class="row">#}
{#        <div class="col-lg-12">#}
{#            <div class="ibox float-e-margins" align="center">#}
{#                <div class="ibox-content">#}
                    {#                    <input type="text" placeholder="Story title..." style='display:table-cell; width:100%'>#}
{#                    <input class="textinput textInput form-control" id="id_advice" maxlength="100" name="advice" type="text" placeholder="My advice..." >#}
                    {#                    {{ form|crispy }}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox float-e-margins" align="center">
                <div class="ibox-content">
                    <div class="form-group" style="margin-bottom: 0px;">
                        <div class="input-group">
                            <select class="chosen-select" style="min-width:265px;" id="id_used_to" name='used_to' tabindex="1">
                                <option value="">I used to work as (position)...</option>
                                {% for spec in specialities %}
                                    <option value="{{ spec.id }}">{{ spec.spec_title }}</option>
                                {% endfor %}

                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="ibox float-e-margins" align="center">
                <div class="ibox-content">
                    <div class="form-group" style="margin-bottom: 0px;">
                        <div class="input-group">
                            <select class="chosen-select" style="min-width:265px;" id="id_became" name='became' tabindex="2">
                                <option value="">I am working  now (position)...</option>
                                {% for spec in specialities %}
                                    <option value="{{ spec.id }}">{{ spec.spec_title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins" align="center">
                <div class="ibox-content">
                    <div class="form-group" style="margin-bottom: 0px;">
                        <div class="input-group">
                            <select data-placeholder="Select skills..." class="chosen-select" id="id_stack_skills" name='stack_skills' multiple style="min-width:265px;" tabindex="3">
                                {% for skill in stack_skills %}
                                    <option value="{{ skill.id }}">{{ skill.skill }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ibox float-e-margins">
        <div class="ibox-content no-padding">
            <textarea class="summernote" name="text">
                <p>My success story text</p>
            </textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins" align="center">
                <div class="ibox-content">
                    <div class="form-group" style="margin-bottom: 0px;">
                        <div id="myId-av" class="dropzone">
                            <input type="text" name="img-av" id="img-bg" hidden>
                            <button type="submit" class="btn btn-success pull-right">Download avatar!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins" align="center">
                <div class="ibox-content">
                    <div class="form-group" style="margin-bottom: 0px;">
                        <div id="myId-bg" class="dropzone">
                            <input type="text" name="img-bg" id="img-bg" hidden>
                            <button type="submit" class="btn btn-success pull-right">Download background!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-block btn-success">Publish my success story</button>
    <a class="btn btn-block btn-success btn-outline" href="/success-story/">Return</a>
    <br>
    </form>

{#    <h1>My success story</h1><br/>#}
{#    <form method="POST" action="">{% csrf_token %}#}
{##}
{#        {{ form|safe }}#}
{##}
{##}
{##}
{#        {% if form %}#}
{#             <button type="submit">Save</button>#}
{#             <a class="cg ts" href="/success_story/">Return</a>#}
{#        {% endif %}#}
{#    </form>#}
{#    {{ form.data }}#}
{#    {{ form.is_valid }}#}
{#    {{ form }}#}


{% endblock %}