<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>{{ title }}</title>

    <style>
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }
    </style>

    {% include "head_css.html" %}

</head>

<body class="anf">
    <div class="anp" id="app-growl"></div>

    {% include 'navbar.html' %}
    <div class="by ams">
        <div class="go">
        </div>
        <div class="ha">
            Thank you for story.
            <a class="cg ts" href="/success_story/">Return to stories</a>
        </div>
        <div class="go">
        </div>
    </div>
</body>
</html>