{% extends "success-story.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head-css-story %}
    <!-- include libraries(jQuery, bootstrap, fontawesome) -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    <!-- include summernote css-->
    <link href="{% static 'css/plugins/summernote/summernote.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/summernote/summernote-bs3.css' %}" rel="stylesheet">
    <!-- include chosen css-->
    <link href="{% static 'css/plugins/chosen/chosen.css' %}" rel="stylesheet">
    <!-- include chosen dropzone-->
    <link href="{% static 'css/plugins/dropzone/basic.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/dropzone/dropzone.css' %}" rel="stylesheet">
    <!-- include my own rules-->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">


{% endblock %}

{% block javascript-story-editor %}
    <!-- SUMMERNOTE -->
    <script src="{% static 'js/plugins/summernote/summernote.min.js' %}"></script>
    <!-- include summernote-ru-RU -->
    <script src="{% static 'js/plugins/summernote/lang/summernote-ru-RU.js' %}"></script>
    <script>
        $(document).ready(function(){

            $('.summernote').summernote({
                lang: 'ru-RU',
                height: 300,                 // set editor height
                minHeight: null,             // set minimum height of editor
                maxHeight: null,             // set maximum height of editor
                focus: false                 // set focus to editable area after initializing summernote
            });

       });
        var edit = function() {
            $('.click2edit').summernote({focus: true});
        };
        var save = function() {
            var aHTML = $('.click2edit').code(); //save HTML If you need(aHTML: array).
            $('.click2edit').destroy();
        };
    </script>
    <script>
        $('.summernote').on('summernote.focus', function() {
            $('.note-editor').css('border-color', '#1a7bb9')
        });

        $('.summernote').on('summernote.blur', function() {
            $('.note-editor').css('border-color', '#a9a9a9')
        });
    </script>

    <!-- Chosen -->
    <script src="{%  static 'js/plugins/chosen/chosen.jquery.js' %}"></script>
    <script>
            var config = {
                '.chosen-select'           : {},
                '.chosen-select-deselect'  : {allow_single_deselect:true},
                '.chosen-select-no-single' : {disable_search_threshold:10},
                '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
                '.chosen-select-width'     : {width:"95%"}
                };
            for (var selector in config) {
                $(selector).chosen(config[selector]);
            }
    </script>

    <!-- DROPZONE -->
    <script src="{% static 'js/plugins/dropzone/dropzone.js' %}"></script>
    <script type="text/javascript">


        jQuery(document).ready(function()
        {
            $("div#id_img_avatar1").dropzone({ url: "/" });
            //$("input#id_img_avatar").dropzone({ url: "/file/post" });
            //var myDropzone_av = new Dropzone("div#myId-av", { url: "file-upload-av"});
            //var myDropzone_av1 = new Dropzone("input#id_img_avatar", { url: "file-upload-av"});
            var myDropzone_bg = new Dropzone("div#myId-bg", { url: "/"});
        });
    </script>
    <script>
        $(document).ready(function(){
            Dropzone.options.myAwesomeDropzone = {

                autoProcessQueue: false,
                uploadMultiple: false,
                parallelUploads: 1,
                maxFiles: 1,
                dictDefaultMessage: "Drop image here to upload - jpg, png",

                // Dropzone settings
                init: function() {
                    var myDropzone = this;

                    this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
                        e.preventDefault();
                        e.stopPropagation();
                        myDropzone.processQueue();
                    });
                    this.on("sendingmultiple", function() {
                    });
                    this.on("successmultiple", function(files, response) {
                    });
                    this.on("errormultiple", function(files, response) {
                    });
                }

            }

       });
    </script>



{% endblock %}

{% block page-heading-story %}
                    <h2>Text Editor</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a>Forms</a>
                        </li>
                        <li class="active">
                            <strong>Text Editor</strong>
                        </li>
                    </ol>
{% endblock %}

{% block story-content %}
    <form method="POST" action="">{% csrf_token %}
    <div class="row">
        <div class="col-lg-7">
            <div class="ibox float-e-margins" align="center">
                <div class="ibox-content">
                    {{ form.title }}
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="ibox float-e-margins" align="center">
                <div class="ibox-content">
                    {{ form.author }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins" align="center">
                <div class="ibox-content">
                    {{ form.advice }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox float-e-margins" align="center">
                <div class="ibox-content">
                    <div class="form-group" style="margin-bottom: 0px;">
                        <div class="input-group">
                            {{ form.used_to }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="ibox float-e-margins" align="center">
                <div class="ibox-content">
                    <div class="form-group" style="margin-bottom: 0px;">
                        <div class="input-group">
                            {{ form.became }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins" align="center">
                <div class="ibox-content">
                    <div class="form-group" style="margin-bottom: 0px;">
                        <div class="input-group">
                            {{ form.stack_skills }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ibox float-e-margins">
        <div class="ibox-content no-padding">
            {{ form.text }}
        </div>
    </div>
{#    <div class="row">#}
{#        <div class="col-lg-6">#}
{#            <div class="ibox float-e-margins" align="center">#}
{#                <div class="ibox-content">#}
{#                    <div class="form-group" style="margin-bottom: 0px;">#}
{#                        {{ form.img_avatar }}#}
{#                        <div id="id_img_avatar1" class="dropzone">#}
{#                            <input type="file" name="img_avatar" id="id_img_avatar" style="display: none">#}
{#                            <button type="submit" class="btn btn-success pull-right">Download avatar!</button>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-lg-6">#}
{#            <div class="ibox float-e-margins" align="center">#}
{#                <div class="ibox-content">#}
{#                    <div class="form-group" style="margin-bottom: 0px;">#}
{#                        {{ form.img_background }}#}
{#                        <div id="myId-bg" class="dropzone">#}
{#                            <input type="text" name="img_background" id="id_img_background" hidden>#}
{#                            <button type="submit" class="btn btn-success pull-right">Download background!</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <button type="submit" class="btn btn-block btn-success">Publish my success story</button>
    <a class="btn btn-block btn-success btn-outline" href="/success_story/">Return</a>
    <br>
    </form>
{#    <h1>My success story</h1><br/>#}
{#    <form method="POST" action="">{% csrf_token %}#}
{##}
{#        {{ form|safe }}#}
{##}
{##}
{##}
{#        {% if form %}#}
{#             <button type="submit">Save</button>#}
{#             <a class="cg ts" href="/success_story/">Return</a>#}
{#        {% endif %}#}
{#    </form>#}
{#    {{ form.data }}#}
{#    {{ form.is_valid }}#}
{#    {{ form }}#}

<style>
.form-control:focus,
.single-line:focus,
.chosen-container-active > .chosen-single, .chosen-drop,
.chosen-choices:focus
{
  border-color: #1a7bb9 !important;
}
</style>
{% endblock %}